body {
	color: #6e6149;
	background-color: #000000;
}

h1 {
	font-weight: bold;
}

small {
	color: #6e6149 !important;
}

.tank-img {
	//transform: scale(1.4);
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.container {
	margin-top: 60px;
}

.answer-buttons .btn {
	width: 100px;
}

li.fa-check:before  {
	color: green;
}

li.fa-close:before {
	color: red;
}

.grow {
	transition: all .2s ease-in-out;
}

.grow:hover {
	transform: scale(1.3);
}

.card {
	margin-top: 25px;
	margin-bottom: 25px;
}

/*ToDo: нужно это поправить адекватно*/
.card img {
	height: 150px;
	width: 240px;
}