body {
	color: #6e6149;
	background-color: #000000;
}

h1 {
	font-weight: bold;
}

small {
	color: #6e6149 !important;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.container-fluid {
	margin-top: 60px;
}

.answer-buttons .btn {
	width: 100px;
}

li.fa-check:before  {
	color: green;
}

li.fa-close:before {
	color: red;
}

.grow {
	transition: all .2s ease-in-out;
}

.grow:hover {
	transform: scale(1.1);
}

.card {
	border: 5px solid;
	border-color: transparent;
}

/*ToDo: нужно это поправить адекватно*/
.card img {
	width: 100%;
	height: 100%;
}

.answer-right {
	border: 5px solid;
	border-color: #4cae4c;
}

.answer-my {
	background-color: orange;
}

.machine-name {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 10px;
}