<div class="row row-centered">
	<div class="col-xs-8 col-centered">
		<div ng-if="!gameOver">
			<image ng-src="{{question.tank.image}}" class="center-block tank-img">
			<div class="row-centered">
				<h1>
					<span>Это </span><span>"{{question.publicTankName}}"</span>? <small>({{question.no+1}}/{{questions.length}})</small>
				</h1>
			</div>
			<div class="center-block row-centered answer-buttons">
				<div id="yesBtn" ng-click="answerButtonClick(true)" class="btn btn-lg btn-success">Да</div>
				<div id="noBtn" ng-click="answerButtonClick(false)" class="btn btn-lg btn-danger">Нет</div>					
			</div>
		</div>
		<div ng-include="'app/yesno/yesno_result.html'"></div>
	</div>
</div>