<div class="question" ng-repeat="question in test.questions" ng-show="question.no == currentQuestionNo && !gameOver">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h1>{{question.machines[question.rightAnswerIndex].name_i18n}} <small>({{currentQuestionNo+1}}/{{test.questions.length}})</small></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
			<div class="row card-container">
				<div class="card grow col-xs-6" ng-repeat="machine in question.machines">
					<img ng-click="setAnswer($index)" ng-src="{{machine.image}}" class="center-block">
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include="'app/1from4/1from4_result.html'"></div>