<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand"><h2>Танки</h2></li>
		<li><a href="#/wot/yesno">"Да/Нет"</a></li>
		<li><a href="#/wot/1from4">1 из 4</a></li>
		<li class="sidebar-brand"><h2>Самолеты</h2></li>
		<li><a href="#/wow/yesno">"Да/Нет"</a></li>
		<li><a href="#/wow/1from4">1 из 4</a></li>
		<li class="sidebar-brand"><div id="vk_like"></div></li>
	</ul>
	<!--
	<div id="vk_like"></div> 
	<script type="text/javascript">
		console.log('init vk');
		VK.Widgets.Like("vk_like", {type: "button", height: 24});
	</script>
	-->
</div>